<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357483403899-dp8tvm11ep4vnb6fnq824dqmtg0sqf0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357483403899-dp8tvm11ep4vnb6fnq824dqmtg0sqf0t</string>
	<key>API_KEY</key>
	<string>AIzaSyDdqzYGvT2YtvoM5oSb6Jes2OMXbCqSWJU</string>
	<key>GCM_SENDER_ID</key>
	<string>357483403899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.capekNgodingWeb</string>
	<key>PROJECT_ID</key>
	<string>zakatapp-49476</string>
	<key>STORAGE_BUCKET</key>
	<string>zakatapp-49476.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357483403899:ios:c036bff112d28128fda0de</string>
</dict>
</plist>